.about-page{
	.about-intro{
	    background-repeat: no-repeat;
	    background-position: 0 130%;
	    background-size: 2000px;
	    padding-bottom: 150px;
	    @media screen and (min-width: $screen-sm) {
			padding-bottom:250px;
	    }
	    .locations{
	    	margin-top: 60px;
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    max-width: 800px;
	    	margin: auto auto;
	    	margin-top:60px;
	    	flex-direction:row;	
		    li{
			    margin: 10px;
			    background-size: 2.1rem;
			    font-size: 1.1rem;
			    padding: 0.3rem;
			    padding-left: 2.7rem;
			    background-position: 0 2px;
			    a{
			    	color:$brand-green;
			    	font-weight:700;
			    }
		    }
	    }
	}

	.section-white{
		img{
			max-width: 73px;
    		margin-bottom: 10px;
		}
	}
	.section-gray{
		img{
			max-width: 140px;
    		margin-bottom: 10px;
		}
	}
}