.career-page{
	.intro-block{
		background-repeat: no-repeat;
	    background-position: 0 100%;
	    background-size: 50%;
	    @media screen and (max-width: $screen-sm) {
	    	background-image:none !important;
	    }
	    .h2{
	    	color:$brand-green;
	    }
		.cta{
			margin-top:10px;
			background-color:$brand-lightgreen;	
			color:$brand-green;
		}
	}
	.careers{
		list-style:none;
	    padding: 0;
	    margin: 0;
	    li{
	    	margin:5px 0;
		    .fa-file-pdf-o{
		    	font-size: 17px;
	    		margin-left: 10px;
		    }
	    }
	}
}