.contact-page{
	.contact-info{
		display:flex;
		flex-wrap:wrap;
		padding-top:20px;
		>.contact{
			@include span(12);

			@media screen and (min-width: $screen-sm) {
				@include span(5);
			}

			.intro-blurb{
				margin-bottom:35px;
				text-align:left;
			}

			h2{
				font-size: 1.5rem;
    			text-align: left;
    			color:$brand-green;
			}

			.site-email{
				text-align:left;
				position:relative;
				right:0;
				a{
					padding-left:0;
					.fa-envelope{
						font-size: 1.4rem;
					    border: solid 2px #81bc41;
					    border-radius: 6px;
					    padding: .5rem;
					    vertical-align: middle;
					    margin-right: 20px;
					    &::before{
					    	color: #245839;
					    }
					}
					.header-email{
						font-size:1.1rem;
						display:inline-block;
						text-align:left;
					}
				}
			}

			.site-phone{

				>a{
					padding:0;
					.site-phone-header{
						padding-right:0;
					}
					.site-phone-body, .site-phone-header{
						width:auto;
					}
					.fa-phone-square{
						font-size: 3.2rem;
						margin-right: 20px;
					}
				}
			}

			.site-fax{
				text-align:left;
				>a{
					padding-left:0;
					@media screen and (min-width: $screen-sm) {
						pointer-events: none;
					    cursor: default;
					}
				}
				.fa-fax{
					font-size: 1.5rem;
				    border: solid 2px #81bc41;
				    border-radius: 6px;
				    padding: .5rem;
				    vertical-align: middle;
				    margin-right: 20px;
				    &::before{
				    	color: #245839;
				    }
				}
				.header-fax{
					font-size:1.1rem;
				}
			}
		}
		>.contact-form{
			@include span(12);
			margin:30px 0 0 0;

			@media screen and (min-width: $screen-sm) {
				@include span(7);
				margin-top:0;
			}

			.hide-title{
				.gfield_label{
					display:none;
				}
			}

			.gfield_label{
				margin:10px 0 8px 0;
			}

			.gform_fields{
				display:block;
				li{
					text-align:left;
				}
			}

			.gfield_checkbox{
				padding:0;
				margin:0;
				list-style:none;
				display:flex;
				flex-wrap:wrap;
				li{
					width:100%;
					@media screen and (min-width: $screen-sm) {
						width:50%;
					}
				}
			}

			.gform_footer{
				text-align:left;
				margin-top:10px;
				input.button{
					background-color:$brand-lightgreen;
					color:$brand-green;
					border:0;
				}
			}

			//Form control
			input[type=text], input[type=tel], input[type=email], select, input[type=checkbox], textarea{
				border-color:$brand-green;
			}

			//checkbox
			.gfield_checkbox {
				li {
					position: relative;
					padding-left:40px;
					label {
						&:after {
							content:"";
							background:#fff;
							border:1px solid $brand-green;
							width:22px;
							height:22px;
							display:block;
							position: absolute;
							left:0;
							top:2px;
							border-radius:3px;
							z-index: 0;
						}
						&:before {
						    position: absolute;
						    left: 9px;
						    top: 4px;
						    -ms-transform: rotate(45deg);
						    transform: rotate(45deg);
						    opacity: 0;
						    z-index: 1;
						    transition: all 100ms;
						    content: '';
						    display: block;
						    width: 8px;
						    height: 15px;
						    border: solid $brand-green;
						    border-width: 0 3px 3px 0;
						    transform: rotate(45deg) translate(-1px, 1px);
						}
					}
				}

			}

			input[type="checkbox"] {
				opacity:0;
				outline:none;
				z-index:100;
				width:22px;
				height:22px;
				top:2px;
				left:0;
				position: absolute;
				appearance: none;
				cursor: pointer;
		    + label {
		      cursor: pointer;
		    }
				&:checked + label {
					&:before {
						opacity:1;
						top: 3px;
					}
				}
			}
		}
	}
}