.page-home{
	.home-slider{
		position:relative;
		.layer{
			position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    @media screen and (min-width: $screen-sm) {
				justify-content: space-between;
				padding: 0 100px;
		    }
		    .text-layer{
				div:first-child{
					color:#fff;
					font-family:$headings-font-family;
					font-size:1.5rem;
					margin-bottom: 10px;
				}
				.headline-animation{
					height:8rem;
					>div{
						color:$brand-beige;
						font-size: 2.8rem;
					    font-weight: 600;
					    line-height: 1.1;
					    letter-spacing: 1px;
					    margin:0;
					    font-family:$headings-font-family;
					    animation-duration: 17s;
	    				animation-iteration-count: infinite;
	    				animation-delay: 3s;
					    @media screen and (min-width: $screen-sm) {
							font-size:3.5rem;
					    }
					    &:first-child{
					    	animation-name: home-title1;
	    					
					    }
					    &:nth-child(2){
					    	animation-name: home-title2;
					    }
					}
				}
				a.cta{
					background-color: #fff;
    				margin-top: 25px;
    				color:$brand-green;
    				font-weight:400;
				}
			}
			.form-layer{
			    padding: 50px 30px;
			    background: rgba(129,188,65,.9);
			    max-width: 375px;
			    display:none;
			    @media screen and (min-width: $screen-sm) {
					display:block;
			    }
			    .gform_title{
			    	font-size: 1.3rem;
				    color: #fff;
				    font-weight: 300;
				    margin: 0;
				    margin-bottom: 10px;
			    }
			    .gform_description{
			    	color:#fff;
			    	margin-bottom:15px;
			    	display:inline-block;
			    }
			    .gform_button{
			    	@extend .cta;
			    	color:$brand-green;
			    	background-color:$brand-beige;
			    	border:0;
			    	margin-top:10px;
			    }
    			.gfield_label{
    				display:none;
    			}
			}
		}
	}
	.featured-services{
		background-repeat: repeat;
		>div{
			display:flex;
			flex-wrap:wrap;
			text-align:left;
			>div{
				width:100%;
				padding: 0 10px;
				margin-bottom:20px;
				@media screen and (min-width: $screen-xs) {
					width:50%;
				}
				@media screen and (min-width: $screen-md) {
					width:25%;
					margin-bottom:0;
				}
				>.featured-image{
					border:2px solid $brand-lightgreen;
				}
				>h3{
					margin-top: 20px;
				    font-size: 1.4rem;
				    font-weight: 600;
					color: $brand-green;
				}
				>a{
					font-weight:400;
				}
			}
		}
	}
	.our-services{
		.services{
			display: flex;
    		flex-wrap: wrap;
    		margin-top:30px;
    		flex-direction:row;
    		max-width:650px;
    		margin:auto auto;
			li{
				text-align: left;
			    width: calc( 100% - 10px );
			    padding: 20px 15px 20px 70px;
			    margin: 5px;
			    border:2px solid $gray-lighter;
			    background-size: 45px;
    			background-position: 10px center;
			    @media screen and (min-width: $screen-xs) {
					width: calc( 50% - 10px );
				}
				a{
					color:$gray-base;
				    font-size: 1.2rem;
				    font-weight: 400;
				    font-family:$headings-font-family;
				}
			}
		}
	}
	.home-split-1{
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size:cover;
	    @media screen and (max-width: $screen-sm) {
			background:none;
		}
		.split-content{
			.half-copy{
				>a.cta{
					color:$gray-base;
					margin-top:15px;
					background-color:$brand-lightgreen;
				}
			}
			.half-image{
				width:100%;
    			@media screen and (min-width: $screen-sm + 1) {
					width: 50%;
    				padding: 2rem 5%;
    			}
			}
		}
	}
	.home-split-2{
		align-items: initial;
		background-color:$brand-green;
		.half-image{
			flex:1;
		}
		.half-copy{
			h2, p{
				color:#fff;
			}
			h2{
				margin-bottom:20px;
			}
			ul{
				list-style:none;
				margin-top:15px;
				padding:0;
				a{
					margin:0;
				}
			}
		}
	}
	.our-projects{
		.our-projects{
			margin:0;
			padding:0;
			list-style:none;
			display:flex;
			flex-wrap:wrap;
			margin-top:25px;
			flex-direction:row;
			li{
				width: calc( 100% - 30px );
				margin:15px;
				border:1px solid $brand-green;
				@media screen and (min-width: $screen-sm) {
					width: calc( 50% - 30px );
    			}
    			.project-description{
    				display:flex;
    				flex-direction:column;
    				align-items:flex-start;
    				padding: 20px;
    				text-align:left;
    				h3, p{
    					text-align:left;
    				}
	    			h3{
	    				color:$brand-green;
	    			}
	    			>a{
	    				margin-top:10px;
	    			}
    			}
			}
		}
	}
}

@keyframes home-title1 {
    0%   {transform: translateY(0);}
    25%   {transform: translateY(0);opacity:1;}
    30%   {transform: translateY(50%);opacity:0;}
    35%  {transform: translateY(100%);opacity:1;}
    65%  {transform: translateY(100%);opacity:1;}
    70%  {transform: translateY(50%);opacity:0;}
    75% {transform: translateY(0);opacity:1;}
    100% {transform: translateY(0);}
}
@keyframes home-title2 {
    0%   {transform: translateY(0);}
    25%   {transform: translateY(0);opacity:1;}
    30%   {transform: translateY(-50%);opacity:0;}
    35%  {transform: translateY(-100%);opacity:1;}
    65%  {transform: translateY(-100%);opacity:1;}
    70%  {transform: translateY(-50%);opacity:0;}
    75% {transform: translateY(0);opacity:1;}
    100% {transform: translateY(0);}
}