.testimonial-page{
	.grid{
		.grid-item{
			width: calc( 100% - 20px );
			margin:10px;
			box-shadow: 0 1px 5px #ababab;
			padding:20px;
			border-radius:5px;
			background-color:#f3f3f3;
			@media screen and (min-width: $screen-sm) {
				width: calc( 50% - 20px );
			}
			@media screen and (min-width: $screen-md) {
				width: calc( 33.33% - 20px );
			}
			.author{
				text-align:left;
				font-size: 1.7rem;
			}
			.job-title{
				text-align:left;
				font-style:italic;
				margin-top:10px;
			}
			.metas{
				margin:0;
				margin-top:10px;
				padding:0;
				list-style:none;
				display:flex;
				li{
					text-align:left;
				}
			}
			.content{
				text-align:left;
				margin-top:10px;
				font-size:.9rem;
			}
		}
	}
}