//Variables
$kc-image-width: 50%;
$kc-copy-width: 50%;

//Half Copy
$kc-half-copy-horizontal-padding: 5%;
$kc-half-copy-vertical-padding: 2rem;

//Half Image
$max-height-tablet: 350px;


//Font 
$kc-h2-size: 1.4rem;
$kc-h2-font-weight: normal;

$kc-h3-size: 1.2rem;
$kc-h3-font-weight: 500;

$kc-li-size: 1rem;
$kc-li-font-weight: normal;

$kc-a-size: .9rem;
$kc-a-font-weight:normal;



body{
	font-weight: 300;
	line-height: 1.5;
	font-size: initial;
}

.site-info{
	text-align: center;
	
	@include breakpoint($screen-sm-min){
		text-align: left;
	}
}

.site-longevity{
	text-align: center;

	@include breakpoint($screen-sm-min){
		text-align: right;
	}
}


// Navigation Stuff
.nav-footer{
	
	.nav-title{
		border-bottom: solid 1px $brand-primary;
	}

	ul{
		margin: 0;
		padding: 0;
		@extend .nav;
		@extend .nav-pills;
		@extend .nav-stacked;

		.current_page_item{
			@extend .active;
		}
	}
}



// Footer Blog Feed
.blog-feed{
	.panel-body{
		color: $text-color;
	}
}

// Social Media
.lg-social-media{
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block; 
    padding-left: 5px; 
    padding-right: 5px; 
  }
} 

/* website split content style */
.split-content {
    display: flex;
    align-items: center;
    width:100%;
    &.align-top{
        align-items: flex-start;
    }
    .half-image {
        width: $kc-image-width;
        display: flex;
        position: relative;
        @media screen and (max-width: $screen-sm) {
            max-height:$max-height-tablet;
            overflow:hidden;
            align-items:center;
        }
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .half-copy {
        width: $kc-copy-width;
        padding: $kc-half-copy-vertical-padding $kc-half-copy-horizontal-padding;
	    text-align: left;
	    max-width: 1920px;
	    margin: 12px 0;
        text-align: left;
        p {
	        text-align: left;
	    }
	    h2 {
	        text-align: left;
            font-size: $kc-h2-size;
            font-weight:$kc-h2-font-weight;
	    }
	    h3{
	    	font-size:$kc-h3-size;
            margin-top:9px !important;
            font-weight:$kc-h3-font-weight;
	    }
	    ul,ol {
	        padding-left: 20px;
	        text-align: left;
            padding:0;
            margin:0;
	        li {
	            margin-bottom: .3rem;
	            font-size: $kc-li-size;
                font-weight:$kc-li-font-weight;
	        }
	    }
        a{
            font-size:$kc-a-size;
            font-weight:$kc-a-font-weight;
        }
    }
}

.reverse {
    flex-direction: row-reverse;
}


@media screen and (max-width: $screen-sm + 1) {
    .split-content {
        flex-direction: column;
        .half-copy {
            padding: 15px 0;
            p,
            h2,h3,
            img,>div,ul,ol {
                padding: 0 5%;
            }
            ul,ol,a{
                margin-left: $kc-half-copy-horizontal-padding;
            }
        }
        .half-copy,
        .half-image {
            width: 100%;
        }
    }
}
/* end */

.block{
	padding: 4rem 0;
	@media screen and (max-width: $screen-sm) {
        padding: 3rem 15px;
	}
    hr{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
    }
    h1{
        margin: 0;
        margin-bottom: 2rem;
    }
    h1,h2,h3,h4,h5,h6{
        margin-top:0;
    }
    &.intro-copy{
        max-width:960px;
        margin:auto auto;   
    }
    &.center{
        ul{
            margin: 20px 0;
            text-align: left;
            display: inline-flex;
            flex-direction: column;
        }   
    }
}

.center{
    text-align:center;
}

.left-block{
    @extend .block;
    text-align:left;
}

.no-pb{
    padding-bottom:0;
}

.no-pt{
    padding-top:0;
}

.cta{
	padding: 12px 15px;
    display: inline-block;
    border-radius: 8px;
    font-size:.9rem;
}

.site-cta{
    >.container{
        display:flex;
        flex-direction:column;
        @media screen and (min-width: $screen-sm) {
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
        }
        .copy{
            h2{
                font-size: 1.6rem;
                color: #fff;
                text-align: left;
                font-weight: 400;
            }
        }
        .cta-button{
            width: 100%;
            max-width: 400px;
            text-align:left;
            margin-top:15px;
            @media screen and (min-width: $screen-sm) {
                text-align:right;
                margin-top:0;
            }
            a{
                @extend .cta;
                background-color:#fff;
                color:$brand-green;
            }
        }
    }
}

.bottom-bar{
    padding:10px 0;
    font-size:.9rem;
    a{
        color:#fff;
        font-weight:300;
        font-size:.9rem;
    }
}