html{
	font-size: $font-size-small;
	// XS Breakpoint
	@include breakpoint($screen-sm-min){
		font-size: $font-size-base;
	}
	// sm Breakpoint
	@include breakpoint($screen-md-min){
		font-size: $font-size-large;
	}
}

body{
	font-size: inherit !important;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-variant-ligatures: no-common-ligatures;  
	line-height:1.3;
}

.h3{
	font-size:1.6rem;
}