// Layout
	.gform_wrapper{
		// @include myoutline(blue);
		@include container();


		.gform_heading{
			// @include myoutline(red);
			@include span(12);
		}
		
		.gform_body{
			// @include myoutline(red);
			@include span(12);
		}
		
		.gform_footer{
			// @include myoutline(red);  
			@include span(12);
			// text-align: center;
		}
	}  


// Gravity Fields
	.gform_fields{
		list-style-type: none;
		margin: 0;
		padding: 0;

		.gfield{
			// @include myoutline(green);
			@extend .form-group;
		}

		.ginput_complex{
			@include clearfix();


			label{ 
				font-weight: normal; 
				font-size: floor((100% * $font-size-small / $font-size-base));
			}

			.name_first, .name_last, .ginput_left, .ginput_right{
				@include span(6 of 12 after); 
			}

			.name_last, .ginput_right{	margin-right: 0; }

			.ginput_full{ @include span(12 of 12 after); }

		}
	}


// bootstrap input styling
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea, select {
		@extend .form-control;
	} 


// Heading Design
.gform_heading{
	margin-bottom: gutter();
}

// Buttons
.gform_button.button{
	@extend .btn;
	@extend .btn-primary; 
	@extend .btn-lg;
}


// Validation
.gform_validation_error{

	// Main error information in form header
	.validation_error{
		@include span(12);
		@extend .bg-danger;
		padding: gutter();
		margin-bottom: gutter();
	}

	// Validation_message
	.validation_message{
		color: $brand-danger;
		font-size: floor((100% * $font-size-small / $font-size-base));
	}

	// Highlight input fields on error
	.gfield_error input, select{
		background-color: lighten($brand-danger, 35%);
	}

}


// Horizontal form
.form-horizontal{

	.gfield{
		@extend .form-group;

		.gfield_label{
			@include span(2);  
			@extend .control-label;
		}

		.ginput_container{
			@include span(10);
		}
	} 

}