.container{
	@include container();
	&::before, &::after{
		display:none;
	}
}
 
.container-fluid{
	@include container(100%);
}


// Site Container 
.site{
	// @include myoutline(red);
	@include container(100%);
}

// Site Header
.site-header{
	// @include myoutline(red);
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:999;
	background-color:#fff;
	.header-main{

		display: flex;
		flex-direction: row;
	    justify-content: space-between; 
	    flex-wrap:wrap;
	    align-items:center;
	    padding:0 15px;

	    &::after{
	    	display:none !important;
	    }

		.site-email{ 
			// @include myoutline(green); 
			flex: 0 1;
		    order: 2;
		    @include breakpoint($screen-sm-min){
			    order: 1;
				flex: 0 1;
		    }
		}

		.site-branding{ 
			// @include myoutline(green); 
			width: $logo-width-xs;
		    order: 1;
		    @include breakpoint($screen-sm-min){
			    order: 2;
				width: $logo-width-sm;
		    }
		}
		 
		.site-phone{ 
			// @include myoutline(green); 
			flex: 0 1;
		    order: 3;
		    @include breakpoint($screen-sm-min){
				flex: 0 1;
				text-align: right;

		    }

		}
	}
	
}

// Site Content - No Side bar
.site-content{
	// @include myoutline(red);
	clear: both;
	margin-top: $header-height-xs;

	@include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	@include breakpoint($screen-sm-min){ margin-top: $header-height-md; }
	@include breakpoint($screen-md-min){ margin-top: $header-height-lg; }

	.content-area{
		// @include myoutline(blue);
		width: 100%;
	}

}

// Site Content with sidebar
.page-template-tpl-container-sidebar .site-content, 
.blog .site-content, 
.archive .site-content,
.search .site-content, 
.post-template-default .site-content{
	

	.content-area{
		// @include myoutline(blue);
		@include span(12);

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(7);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(8);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(9);
		}

	}

	// Site Content - Side bar A.K.A ~ widget area.
	.widget-area{
		// @include myoutline(blue);
		@include span(12); 

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(5);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(3);
		}

	}

}


// Site Content full Width - No Side Bar
.page-template-tpl-full .site-content{
	// @include myoutline(red);
	@include container(100%);
	clear: both;
	margin-top: $header-height-xs;

	@include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	@include breakpoint($screen-sm-min){ margin-top: $header-height-md; }

	.content-area{
		// @include myoutline(blue); 
		@include span(12);
	}

}

// Site Content with sidebar
.page-template-tpl-full-sidebar .site-content{
	// @include myoutline(red); 
	@include container(100%);
	clear: both;
	margin-top: $header-height-xs;

	@include breakpoint($screen-xs-min){ margin-top: $header-height-sm; }
	@include breakpoint($screen-sm-min){ margin-top: $header-height-md; }	

	.content-area{
		// @include myoutline(blue);
		@include span(12);

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(7);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(8);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(9);
		}

	}

	// Site Content - Side bar A.K.A ~ widget area.
	.widget-area{
		// @include myoutline(blue);
		@include span(12); 

		// SM Breakpoint 
		@include breakpoint($screen-sm-min){
			@include span(5);
		}

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

		// LG Breakpoint
		@include breakpoint($screen-lg-min){
			@include span(3);
		}

	}

}


// Site Footer
.site-footer{
	// @include myoutline(red);

	.nav-footer, .footer-brand{
		// @include myoutline(red);
		@include span(12);

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(4);
		}

	}

	.footer-brand{
		p{
			max-width: 500px;
			margin:auto auto;
		}
	}
	
	.blog-feed{

		// @include myoutline(red);
		@include span(12);
		margin:30px 0;

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(5);
			margin:0;
		}

		.east, .west{
			@include span(12); 

			// this is not a good place for this
			text-align: center; 
			@include breakpoint($screen-xs-min){
				@include span(6); 
			}

			@include breakpoint($screen-md-min){
				text-align: initial; 
			}

			@include breakpoint($screen-md-min){
				@include span(6);  
			}
		}
	}

	.footer-utility{
		// @include myoutline(red);
		@include span(12);
		text-align:center;

		// MD Breakpoint
		@include breakpoint($screen-md-min){
			@include span(3);
			text-align:left;
		}
	}

	.site-info{
		// @include myoutline(yellow);
		@include span(12);

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

	.site-longevity{
		// @include myoutline(yellow);
		@include span(12);		

		// SM Breakpoint
		@include breakpoint($screen-sm-min){
			@include span(6);
		}
	}

}

