.single-service{
	.current-projects{
		>h2{
			text-align:center;
		}
		.project-details{
			>div:first-child{
				text-align:center;
				.tab{
					margin:0;
					padding:0;
					list-style:none;
					display: flex;
    				justify-content: center;
    				flex-direction:column;
    				@include breakpoint($screen-sm + 1){
						flex-direction: row;
    				}
					@media screen and (max-width: $screen-sm) {
	    				li{
							a{
								display:block;
								padding:10px 20px;
								border-left:1px solid $brand-green;
								border-right:1px solid $brand-green;
								border-bottom:1px solid $brand-green;
								cursor:pointer;
								color:$brand-lightgreen;
								&.active{
									background-color:$brand-lightgreen;
									color:#fff;
								}
							}
							&:first-child{
								a{
									border-top:1px solid $brand-green;
									border-top-left-radius: 5px;
									border-top-right-radius: 5px;
								}
							}
							&:last-child{
								a{
									border-bottom-left-radius: 5px;
									border-bottom-right-radius: 5px;
								}
							}
					    }
					}
				    
				    @include breakpoint($screen-sm + 1){
						li{
							a{
								display:block;
								padding:10px 40px;
								border-top:1px solid $brand-green;
								border-bottom:1px solid $brand-green;
								border-right:1px solid $brand-green;
								cursor:pointer;
								color:$brand-lightgreen;
								&.active{
									background-color:$brand-lightgreen;
									color:#fff;
								}
								@include breakpoint($screen-sm + 1){
									flex-direction: row;
			    				}
							}
							&:first-child{
								a{
									border-left:1px solid $brand-green;
									border-top-left-radius: 5px;
									border-bottom-left-radius: 5px;
								}
							}
							&:last-child{
								a{
									border-top-right-radius: 5px;
									border-bottom-right-radius: 5px;
								}
							}
					    }
    				}
				}
			}
		}

		.project-contents{
			margin-top:50px;
		}

		.tab-content{
			position:absolute;
			left: -10000px;
			top: -10000px;
			width:100%;
			visibility: hidden;
			.description{
				padding:15px 0;
			}
			h2{
				font-size:1.7rem;
			}
			&.active{
				position:relative;
				left:0;
				top:0;
				visibility:visible;
			}
			.tab{
				display:flex;
				flex-wrap:wrap;
				list-style:none;
				margin:0;
				padding:0;
				margin:10px -10px;
				li{
					width:25%;
					padding:10px;
				}
			}
		}
		.deadline{
			font-size:1rem;
		}
		.docs{
			margin-top:15px;
			>div{
				display:flex;
				align-items:center;
				margin-bottom:10px;
				a{
				display:inline-block;
					margin-left:15px;
				}
				i{
					font-size:30px;
				}
			}
		}
	}
}