// .page-template-default{
// 	// Site Content
// 	.site-content{
// 		@include myoutline(red);
// 		@include container();
// 		clear: both;

// 		.content-area-default{
// 			width:100%;
// 			padding:0 15px;
// 			@include breakpoint($screen-sm-min){
// 				padding:0;
// 			}
// 		}
// 	}
// }

// .page-template-template-full-sidebar{
// 	.site-content{
// 		width: 100%;
//     	max-width: none;
// 	}
// }

// .page-template-template-full{
// 	.site-content{
// 		width: 100%;
//     	max-width: none;
//     	.content-area-full{
// 			width:100%;
// 			padding:0 15px;
// 			@include breakpoint($screen-sm-min){
// 				padding:0;
// 			}
// 		}
// 	}
// }