.feature-banner{
	position:relative;
	.headline{
	    position: absolute;
	    left: 50%;
	    font-size: 40px;
	    top: 50%;
	    transform: translate( -50%, -50% );
	    color: #fff;
	    margin: 0;
	    text-shadow: 1px 1px 7px black;
	}
}