// Navigation Stuff
.nav-footer{
	
	.nav-title{
		border-bottom: solid 1px $brand-primary;
	}

	ul{
		margin: 0;
		padding: 0;
		@extend .nav;
		@extend .nav-pills;
		@extend .nav-stacked;

		.current_page_item{
			@extend .active;
		}
	}
}


// Address Card
.address-card{
	a{
		color: $brand-lightgreen;
		&:hover, &:focus{
			color: rgba($brand-beige, 0.8);
		}
	}
}

.location-footer, .services-footer{
	ul.list-unstyled{
		margin-left: 0; 
	}

	a{
		color: $brand-lightgreen;
		&:hover, &:focus{
			color: rgba($brand-beige, 0.8);
		}
	}
}


.site-longevity{
	text-align: center;

	@include breakpoint($screen-sm-min){
		text-align: right;
	} 
}

.site-info{
	text-align: center;
	
	@include breakpoint($screen-sm-min){ 
		text-align: left;
	}
}

// This most likely needs to be somewhere else. 
.footer-brand{
	text-align:center;
	@include breakpoint($screen-sm-min){ 
		text-align: left;
	}
	.custom-logo-link{
		width: 100%;
	    max-width: 300px;
	    margin: auto auto;
	    display: block;
	    margin-bottom: 20px;

		#coastal_design path, #landscpaping path{ 
			fill: #fff;
		}
	}
} 

.bbb{
	a{
		display:inline-block;
		img{
			max-width: 250px;
			width:100%;
	    	display: block;
		}
	}
	.review{
		color:$brand-lightgreen;
		margin-top:10px;
		display:block;
	}
}

.cipi{
	max-width: 100px;
    margin-top: 20px;
}

// h1,h2,h3,h4,h5,h6{
// 	font-weight:400 !important;
// }

.site-footer{
	h2{
		color: $brand-beige; 
		font-weight:400;
		&:after{ display: none; }
	}
}

.view-testimonial{
	@extend .cta;
	background-color: $brand-lightgreen;
    margin-top: 25px;
    color:$brand-green;
}

.footer-social{
	margin-top:35px;
	i{
		color:#fff;
		font-size:27px;
	}
} 