
.custom-logo-link{
    display: inline-block;
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    padding: 1.4rem;   
}


// top of page green bar listing locations
.locations-utility{

	text-align: center;
	text-transform: uppercase;
	padding: 7px 0 4px 0;
	
	ul{
		  @include list-unstyled;
		  margin-left: 0;
		  margin-bottom: 0;
		  padding-bottom: 3px;

		  > li {
		    display: inline-block;
		    padding-left: 0;
		    font-size: .8rem;
		    letter-spacing:1px;
			position: relative;

			@include breakpoint($screen-md-min){
				font-size:.9rem;
			}

			&:last-child{
				&:after{
					display:none;
				}
			}
			
			// The bullet
			&:after{
				// font-family: FontAwesome;
				padding-left: 0.6em;
				color: inherit;
				content: "\2022"; 
			} 

			// Lets remove the bullet on the last item
			&:last-child:after{
				color: transparent;
			}
			a{
				color: #fff;
				&:hover{
					color: $brand-lightgreen !important;
				}
			}
		  } 
	}

}

// Custom Email Icon on Header
.site-email{

	// Responsive Type size for email address
	$siteemail-fz: (
	  default : 14px,
	  small   : 14px,
	  medium  : 15px,
	  large   : 19px
	);

	position: absolute;
    right: 30px;
    top:30px;
    @include breakpoint($screen-sm-min){
		position:relative;
		right:auto;
		top:auto;
    }

	.header-email{
		display:none;
		@include breakpoint($screen-sm-min){
			display:inline-block;
		}
	}
	
	.fa{

		// Hide Icon on mobile
		display: inline-block;

		// Show Icon on tablet
		@include breakpoint($screen-sm-min){
			border: solid 2px $brand-lightgreen;
			border-radius: 6px;
			vertical-align: middle;
			margin-right: 0.7rem;
			font-size: 1.5rem;
			padding: .4rem;
		}

		@include breakpoint($screen-md-min){
			font-size: 2rem;
			padding: .5rem;
		}

		&:before{color: $brand-darkgreen; }
	} 

	a{
		font-weight: map-get($font-weights, normal); 
		font-family: $headings-font-family;
		@include font-size($siteemail-fz);
	}

}


// Custom Phone Number layout on Header
.site-phone{

	position: absolute;
    right: 0;
    top:31px;
    @include breakpoint($screen-sm-min){
		position:relative;
		right:auto;
		top:auto;
    }
	
	.fa{
		vertical-align: middle;
	}

	a{
		// @include myoutline(red);
		display: flex;

		@include breakpoint(min-width $screen-sm-min){
			pointer-events: none;
			cursor: default;
		}

		.site-phone-header{
			// @include myoutline(blue);
			display: inline-block;
			@include breakpoint($screen-sm-min){
				padding-right:20px;
			}

			@include breakpoint($screen-md-min){
				width: span(4);
				text-align: center;
			}

			.fa-phone-square{
				font-size:2.1rem;
				@include breakpoint($screen-sm-min){
					font-size:2.8rem;
				}
				@include breakpoint($screen-md-min){
					font-size:3.5rem;
				}
			}
		}

		.site-phone-body{

			// Responsive Type size for email address
			$sitephone-fz: (
			  default : 14px,
			  small   : 14px,
			  medium  : 15px,
			  large   : 19px
			);

			display:none;
			width: span(12);  
			text-align: right;  
			color: $brand-lightgreen;
			font-weight: map-get($font-weights,  normal);
			font-family: $headings-font-family;
			@include font-size($sitephone-fz); 
			align-self: center;

			@include breakpoint($screen-sm-min){
				display:inline-block;
				text-align: left;  
				width: span(12); 
			}

			.site-phone-title{
				display: none;
				font-weight:700;

				@include breakpoint($screen-md-min){
					display: block;  
					text-transform: uppercase;
					color: $brand-darkgreen;
				}
			}

			.site-phone-call{
				color: $brand-darkgreen;
			}

		}
	}
}
