.navbar{ 
	margin-bottom:0;
	// Remove border on main outline of nav. Has a weird spacing issue if left on for inverse nav
	border-width: 0; 

	// Center justify nav items when on desktop
    .navbar-collapse{
		// @include myoutline(red);
    	
    	.navbar-nav{
	    	@include breakpoint($screen-sm-min){
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				width:100%;
	    	}
    	}
    }
    .navbar-nav{
    	>li{
    		>a{
    			font-size:17px;
    			color:#fff;
    		}
    	}
    }
    
}  











// .navbar{
// 	min-height:0;
// 	border:0;
// 	#main-navbar{
// 		padding:0;
// 		position: fixed;
// 	    width: 100vw;
// 	    left: 0;
// 	    top: $header-height-xs;
// 	    background-color: $main-nav-dropdown-background-mobile;
// 	    border-top:0;
// 	    // XS Breakpoint
// 		@include breakpoint($screen-xs-min){
// 			top: $header-height-sm;
// 		}
		
// 		// sm Breakpoint
// 		@include breakpoint($screen-sm-min){
// 			top: $header-height-md;
// 		}
// 		@include breakpoint($grid-float-breakpoint){
// 			position: relative;
// 		    width: auto;
// 		    left: auto;
// 		    top: auto;
// 		}
// 		.navbar-nav{
// 			.open{
// 				.dropdown-menu{
// 					>li:last-child{
// 						>a{
// 							padding-bottom:15px;
// 							@include breakpoint($grid-float-breakpoint){
// 								padding-bottom:6px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 			.current-menu-ancestor{
// 				>a{
// 					font-weight:600;
// 					background:transparent;
// 					color:initial;
// 				}
// 			}
// 			>li{
// 				border-bottom: $main-nav-dropdown-border-mobile;
// 				&:first-child{
// 					border-top: $main-nav-dropdown-border-mobile;
// 					@include breakpoint($grid-float-breakpoint){
// 						border:0;
// 					}
// 				}
// 				@include breakpoint($grid-float-breakpoint){
// 					border:0;
// 				}
// 			}
// 			.active{
// 				>a{
// 					font-weight:600;
// 					background:transparent;
// 					color:initial;
// 				}
// 			}
// 		}
// 	}
	
// 	.navbar-toggle{
// 		margin: 0;
//     	border: 0;
// 	}
// }

// .dropdown-menu{
// 	padding:0;
// 	>li{
// 		>a{
// 			padding: 6px 20px;
// 		}
// 	}
// }
