.testimonial{
	background-image: url(./images/flower-pattern.jpg);
	padding-left: 0;
	padding-right: 0;
	h2{
		font-size: 1.8rem;
	}
	&::before{
	    content: '\f10d';
	    font: normal normal normal 22px/1 FontAwesome;
	    color: $brand-green;
	    margin-bottom: 23px;
	    display: block;
	}
	div,p,h1,h2,h3,h4,h5,h6,span,blockquote{
		color: $brand-green;
	}
	.lg-testimonial-content{
		max-width:800px;
		margin:auto auto;
	}
	.lg-testimonial-controls{
		flex-direction:row !important;
		>li{
			border: 1px solid #fff;
			background-color: transparent;
			cursor:pointer;
			width:13px;
			height:13px;
			&.active{
				background-color:#fff;
				border: 1px solid #fff;
			}
		}
	}
	blockquote{
		font-weight: 400;
		font-family: $headings-font-family;
		border:0;
		padding:0;
		@include breakpoint($screen-sm-min){
			padding:15px;
		}
	}
}

.testimonial-page .grid-item{
	background-image: url(./images/flower-pattern.jpg);
} 